
:root {
    --plyr-color-main: #a6032e;
    --back-color: #1c222b;
    --main-color: #18c29c;
    --text-color: black;
    --text-color-white: aliceblue;
    --input-border-color: #a7afc2;
    --font-title: chantal,sans-serif;
    --font: 5vw;
    --line: calc(var(--font) * 3.5);
    --move: calc(-1 * var(--line));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------ */
/* ---------------------------- style css cms ----------------------------------- */
/* ------------------------------------------------------------------------------ */

.container {
    width: 90%;
    margin: auto;
}

/*---------------title - text----------------*/

.welcome {
    font-size: 1.7em;
    align-self: center;
    padding: 0px 15px;
}
.article {
    font-family: var(--font-title);
    font-size: 2.7em;;
    padding: 20px 0px;
}
.articletitle {
    font-size: 2em;
    padding: 20px 0px;
}
.textcms {
    font-family: 'Bebas Neue', cursive;
    margin: 5px 5px;
}
.size {
    font-size: 1.7em;
}
.valide-msg {
    color: rgb(36, 151, 36);
}
.not-valide-msg {
    color: rgb(206, 36, 36);
}
.titlecms {
    padding-top: 20px;
}
.no-underline {
    text-decoration: none;
}
.no-liststyle {
    list-style: none;
}
.head-title {
    color: var(--text-color-white);
    font-family: var(--font-title);
    margin-left: 20px;
    padding-top: 5px;
}

/*---------- bloc - input - select----------*/

.align {
    align-items: center;
}
.list {
    flex-direction: column;
}
.field {
    margin: 30px;
}
.input {
    height: 25px;
    width: 50%;
    border: 3px solid var(--input-border-color) ;
    border-radius: 8px;
    outline: none;
}
textarea {
    border: 3px solid var(--input-border-color) ;
    border-radius: 8px;
    outline: none;
}
.input:focus {
    border: 3px solid var(--main-color);
}
textarea:focus {
    border: 3px solid var(--main-color);
}
.select {
    width: 400px;
}
.categorie {
    padding: 30px;
}
.catelist {
    margin-left: 60px;
}
.no-padding {
    padding: 0;
}
.login {
    margin-top: 80px;
    border: 1em solid var(--input-focus);
}
.logout {
    justify-content: space-between;
}

.form {
    margin: 5px 200px;
}
.gray-back {
    margin: 20px 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: #EAEAEA;
}


/* ---------header--------- */

.head {
    background-color: #1f1d1d;
    height: 6em;
}

.align {
    align-items: center;
    align-self: center;
}


/* nav button */

.navcms a:hover {
    color: var(--main-color);
    background: #fff;
    transition: 500ms ease all;
}

.button {
    background: var(--main-color);
    color: black;
    font-size: 1.1em;
    padding: 7px 20px;
    margin: 15px;
    cursor: pointer;
    transition: 500ms ease all;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.default:hover {
    background: #fff;
    transition: 500ms ease all;
    color: #228DD7 ;
    border: 2px solid #228DD7;
}
.delete:hover {
    background: #fff;
    transition: 500ms ease all;
    color: #D73A2D ;
    border: 2px solid #D73A2D ;
}
.publish:hover {
    background: #fff;
    transition: 500ms ease all;
    color: #5DB024;
    border: 2px solid #5DB024;
}


/* login */

.sizelog {
    font-size: 1.5em;
}

/*---------------------modal delete style ------------------------*/

.modalCms {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
 }
.modalContentCms {
    font-size: 20px;
    font-weight: bold;
    background-color: #fefefe;
    border-radius: 0.5em;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
 }
.modalContentCms button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 0.3em;
    padding: 10px;
 }
.cancelCms {
    align-self: center;
    text-align: center;
}
.cancelCms:hover {
    background-color: rgb(167, 167, 167);
 }

/*---------------------multi select style-------------------------*/ 

.multiselect-dropdown{
    display: inline-block;
    padding: 2px 5px 0px 5px;
    margin: 30px 0px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    background-color: white;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
  }
.multiselect-dropdown span.optext, .multiselect-dropdown span.placeholder{
    margin-right:0.5em; 
    margin-bottom:2px;
    padding:1px 0; 
    border-radius: 4px; 
    display:inline-block;
  }
.multiselect-dropdown span.optext{
    background-color:lightgray;
    padding:1px 0.75em; 
  }
.multiselect-dropdown span.optext .optdel {
    float: right;
    margin: 0 -6px 1px 5px;
    font-size: 0.7em;
    margin-top: 2px;
    cursor: pointer;
    color: #666;
  }
.multiselect-dropdown span.optext .optdel:hover { color: #c66;}
.multiselect-dropdown span.placeholder{
    color:#ced4da;
  }
.multiselect-dropdown-list-wrapper{
    box-shadow: gray 0 3px 8px;
    width: 400px;
    z-index: 100;
    padding:2px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    display: none;
    margin: -1px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background: white;
  }
.multiselect-dropdown-list-wrapper .multiselect-dropdown-search{
    margin-bottom:5px;
    width: 150px;
  }
.multiselect-dropdown-list{
    padding:2px;
    height: 15rem;
    width: 170px;
    overflow-y:auto;
    overflow-x: hidden;
  }
.multiselect-dropdown-list::-webkit-scrollbar {
    width: 6px;
  }
.multiselect-dropdown-list::-webkit-scrollbar-thumb {
    background-color: #bec4ca;
    border-radius:3px;
  }
.multiselect-dropdown-list div{
    padding: 5px;
  }
.multiselect-dropdown-list input{
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.35em;  
  }
 
.multiselect-dropdown-list div:hover{
    background-color: #ced4da;
  }
.multiselect-dropdown span.maxselected {width:100%;}
.multiselect-dropdown-all-selector {border-bottom:solid 1px #999;}


/* ------------------------------------------------------------------------------ */
/* ---------------------------- style css website ------------------------------- */
/* ------------------------------------------------------------------------------ */

.plyr {
    display: block;
    width: auto;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.48);
}
.plyr.plyr--stopped .plyr__controls { 
    display: none; 
    
}
.containerWeb {
    width: 80%;
    margin: auto;
}
.lighthouse {
    /*background-color: var(--back-color);*/
    /*background-image: */
    /*    url('../assets/images/phare.png'),  */
    /*    url('../assets/images/montagne.png');*/
    /*max-height: 100vh; */
    /*background-position: top center, top 650px center;*/
    /*background-repeat: no-repeat, no-repeat;*/
    /*background-size: 1000px;*/
} 

.flex {
    display: flex;
}
.collum {
    flex-direction: column;
}
.title {
    font-family: var(--font-title);
}
.text {
    font-family: 'Montserrat', sans-serif;
}
.color {
    color: var(--text-color)
}

.white {
    color: var(--text-color-white);
}

/* header nav bar */

.logo {
    align-self: center;
    margin: 5px 15px;
}
.current {
    border-bottom: 2px solid var(--main-color)
}
.nav-bar {
    padding: 30px 0px;
    background-color: transparent;
    justify-content: space-between;
}

.nav {
    list-style: none;
    align-items: center;
    padding: 5px 20px;
    margin-right: 50px;
}
.nav li {
    margin: 5px 10px;
    text-align: center;
}
.nav li:hover {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: -2px;
}
.nav li a {
    color: var(--text-color);
    font-size: 1.4em;
    text-decoration: none;
}

/* articles video*/

.realisation {
    text-align: center;
    margin: 10px 10px 40px 10px;
    font-size: 3em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    
}
.grid-item {
    grid-column: auto / auto;
    grid-row: auto / auto;
}

/* modal video */

.filter {
    filter: brightness(0.9);
}

.modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    
 }
 .modalContent {
    font-weight: bold;
    color: black;
    background-color: var(--back-color);
    border-radius: 0.5em;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--back-color);
    width: 73%;
    height: 75%;
 }
 .modalContent p {
     padding: 20px 10px;
     font-size: 1em;
 }
.videotitle {
    padding-bottom: 20px;
    font-size: 1.7em;
}
.playermodal {
    width: 95%;
    margin: auto;
}

.footer { 
    background-color: var(--back-color);
    padding: 30px 20px 10px 20px;
    margin-top: 70px;
}

/* social icones */

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 23px;
}
.social-button--mail {
  color: var(--main-color);
}
.social-button--mail::after {
  background: #f4952f;
}
.social-button--instagram {
  color: var(--main-color);
}
.social-button--instagram::after {
  background: #833AB4;
}
.social-button--linkedin {
  color: var(--main-color);
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--youtube {
  color: var(--main-color);
}
.social-button--youtube::after {
  background: #f42a2a;
}
.social-button--tiktok {
  color: var(--main-color);
}
.social-button--tiktok::after {
  background: #000d14;
}


.bar {
    margin: 20px;
}

.bar li {
    padding: 15px;
}

.bar li a {
    text-decoration: none;
    color: var(--text-color-white);
    font-family: var(--font-title);
    font-size: 1.5em;
}
/*--------------------------------------------------------------------*/
/* ----------------------------media queries--------------------------*/
/*--------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
    
    :root {
        --font: 2vw;
    }
    .containerWeb {
        width: 90%;
    }
    .lighthouse {

        background-size: 2000px;
        background-position: top center, top 1300px center;

    }
    .nav {
        display: flex;
    }
    .nav li {
        margin: 0px 30px;
    }
    
    /* article video */
    
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .overlap {
        margin-bottom: 4rem;
    }
    .modalContent {
        height: 98%;
    }
}

