
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    width: 90%;
    margin: auto;
}


/* --------------title - text----------------*/

h1 {
    font-size: 1.7em;
    align-self: center;
    padding: 0px 15px;
}
h2 {
    font-size: 2.7em;;
    padding: 20px 0px;
}
h3 {
    font-size: 2em;
    padding: 20px 0px;
}
.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px 5px;
}
.valide-msg {
    color: rgb(36, 151, 36);
}

.not-valide-msg {
    color: rgb(206, 36, 36);
}
.title {
    padding-top: 20px;
}
.no-underline {
    text-decoration: none;
}
.no-liststyle {
    list-style: none;
}
.head-color {
    color: rgb(218, 218, 218);
}

/*---------- bloc - input - select----------*/
.flex {
    display: flex;
}
.collum {
    flex-direction: column;
    align-items: center;
}
.list {
    flex-direction: column;
}
.field {
    margin: 30px;
}
.input {
    height: 25px;
    width: 50%;
    border: 3px solid #a7afc2 ;
    border-radius: 8px;
    outline: none;
}
.input:focus {
    border: 3px solid #0a6792;
}
.select {
    width: 400px;
}
.categorie {
    padding: 30px;
}
.no-padding {
    padding: 0;
}
.login {
    margin-top: 80px;
    border: 1em solid #0a6792;
}
.logout {
    justify-content: space-between;
}
.border {
    border: 2px solid #353332;
    border-radius: 8px;
    margin: 20px 0px;
    padding: 5px 10px;
}
.form {
    margin: 5px 200px;
}
.gray-back {
    background-color: #f3eee7;
}


/* ---------header--------- */

.head {
    background-color: #1f1d1d;
    height: 4.5em;
}
.align {
    align-items: center;
}
.link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

/* nav button */

.nav {
    margin: 15px;
    text-align: center;
}
.nav a {
    background-color: #0a6792;
    text-align: center;
    padding: 7px 20px;
    border-radius: 10px;
    font-size:1em;
    color:#fff;
    border:2px solid #0a6792;
    transition:800ms ease all;
}

.nav a:hover {
    color:#0a6792;
    background:#fff;
    transition:800ms ease all;
}

/* logout button */

.logout-button {
    background:#0a6792;
    color:#fff;
    border:none;
    font-size:1em;
    padding:7px 20px;
    margin: 15px;
    cursor:pointer;
    transition:800ms ease all;
    border:2px solid #0a6792;
    border-radius: 10px;
}
.logout-button:hover {
    background:#fff;
    transition:800ms ease all;
}.logout-button a {
    color:#fff;
}
.logout-button a:hover {
    color:#0a6792;
    transition:800ms ease all;
}


/* -----------------articles----------------- */
/* main button */

.button {
    background:#0a6792;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 1.6em;
    margin: 15px;
    cursor:pointer;
    transition:400ms ease all;
    outline:none;
    border-radius: 5px;
  }

 .button:hover{
    background:#f3eee7;
    color:#0a6792;
  }

  .button:before, .button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #0a6792;
    transition:400ms ease all;
  }

  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .button:hover:before, .button:hover:after{
    width:100%;
    transition:400ms ease all;
  }

/* delete button */

.btn-delete{
    background:#ac2b1d;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 1.6em;
    margin: 15px;
    cursor:pointer;
    transition:400ms ease all;
    outline:none;
    border-radius: 5px;
  }
  .btn-delete:hover{
    background:#f3eee7;
    color:#ac2b1d;
  }
  .btn-delete:before, .btn-delete:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #ac2b1d;
    transition:400ms ease all;
  }
  .btn-delete:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-delete:hover:before, .btn-delete:hover:after{
    width:100%;
    transition:400ms ease all;
  }

  
/* published button */

.publi-button {
    background:#1e7504;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 1.6em;
    margin: 15px;
    cursor:pointer;
    transition:400ms ease all;
    outline:none;
    border-radius: 5px;
  }

 .publi-button:hover{
    background:#f3eee7;
    color:#1e7504;
  }

  .publi-button:before, .publi-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1e7504;
    transition:400ms ease all;
  }

  .publi-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .publi-button:hover:before, .publi-button:hover:after{
    width:100%;
    transition:400ms ease all;
  }

/* login */

.sizelog {
    font-size: 1.5em;
}